article h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article figure{
    width: 500px;
    float: right;
}
article figure img{
    width: 100%;
}
article{
    width: 1000px;
}
.body{
    float:left;
}
h1{
    color:cadetblue;
}