article figure{
    width: 600px;
    float: right;
}
.head{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 25px;
}
article figure img{
    width: 100%;
}
article{
    width: 1300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 25px;
}
h1{
    color:darkmagenta;
}
h3{
    padding-top: 15px;
}
#bottom{
    padding-bottom: 25px;
}