article h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article figure{
    width: 450px;
    float: right;
}
article figure img{
    width: 100%;
}
article{
    width: 900px;
}
.body{
    float:left;
}
.map{

}