article figure{
    width: 600px;
    float: right;
    position: relative;
    bottom: 40px;
}
.head{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #35755D;
    width: 650px;
}
article figure img{
    width: 100%;
}
article{
    width: 1300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 25px;
}
h1{
    color: #D0F5E7;
}
h3{
    padding-top: 50px;
    padding-bottom: 25px;
}
#bottom{
    padding-bottom: 50px;
}
.text{
    color: #3B1B1B;
}
body{
    background-color: #D0F5E7;
}
#lower{
    padding-top: 50px;
}
.box{
   
}
em{
    font-style: normal;
    font-weight: bold;
}