nav ul{
    background-color: rgb(247, 217, 229);
    list-style: none;
    width: 200px;
    padding: 5px;
    border: 2px solid black;
}
nav ul li{
    border-bottom: 2px solid black;
}
nav ul li a{
    color:rgb(84, 10, 138);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
article{
    width: 800px;
}
article figure{
    width: 500px;
    border: 3px solid grey;
    padding: 3px;
}
article figure img{
    width: 100%;
}
nav ul li a:hover{
    text-decoration: blueviolet;
}
.home{
    background-color: cadetblue;
}
.more-photos{
    background-color: lavender;
}
.about-us{
    background-color: thistle;
}