h1 {
    color: #144687;
    background: #e9dcf7;
    font-family: arial;
    text-align: center;
  }
  p {
    color: #144687;
    font-family: arial;
    text-align: center;
  }
  figure img {
    border: 5px solid #e9dcf7;
    margin-bottom: 15px;
  }
  article p {
    border: 2px solid #e9dcf7;
    font-size: 20px;
  }
  