nav ul{
    background-color: rgb(247, 217, 229);
    list-style: none;
    width: 200px;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
}
nav ul li{
    border-bottom: 1px solid rgb(181, 121, 145);
}
nav ul li a{
    color:rgb(84, 10, 138);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
article p{
    width: 800px;
    text-align: center;
}
article figure{
    margin-left:;
    margin-right: auto;
    width: 500px;
    border: 3px solid grey;
    padding: 3px;
}
article figure img{
    width: 100%;
}
h1{
    text-align: center;
}
nav ul li a:hover{
    text-decoration-color: rgb(167, 97, 233);
}